:root{
    --color-1: #a3a3a3;
    --color-2: #000;
    --color-3: #FFD800;
    --color-3_1: #ceaf00;
    --borderR-1: 7px;
    --max-width-1: 1200px;
    --card-inner-width-1: 170px;
    --card-inner-width-3: 75%;
    --card-inner-width-2: 220px;
}