@import url(./root-var.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:visited,
a:active,
a:link,
a{
    text-decoration: none;
    color: #000;
}

body{
    font-size: 1.25em;
}

header{
    width: 100vw;
}


/*  nav-search INICIO
*/
header nav .nav-search{
    background-color: var(--color-1);
    width: 100vw;
    display: flex;
    align-items: center;
    min-width: 350px;
}
header nav .nav-search section[class='logo-sec'],
header nav .nav-search .client-cart{
    width: 25%;
    margin: 3px;
}
header nav .nav-search section[class='logo-sec'] .logo{
    margin-left: 10%;
}

header nav .nav-search .search-bar{
    width: 50%;
}
header nav .nav-search #search{
    border: none;
    border-radius: var(--borderR-1);
    max-width: 570px;
}
header nav .nav-search #search,
header nav .nav-search #search::placeholder{
    color: var(--color-3_1);
    font-size: 1.1em;
    font-weight: 100;
    text-indent: 20px;
}
header nav .nav-search #search:focus{
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}
.search-container{
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 570px;
    margin: 0 auto;
}
header nav .nav-search .search-magnifier{
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 5px;
}
header nav .nav-search .search-bar #search{
    width: 100%;
    height: 40px;
}

header nav .nav-search .client-cart .icons{
    float: right;
    margin-right: 10%;
}
/*  nav-search FIM
*/



/*  nav-menu INICIO
*/
header nav .nav-menu{
    background-color: var(--color-2);
    width: 100vw;
    height: 45px;
}
header nav .nav-menu .menu{
    margin: 0 auto;
    border: 1px solid var(--color-2); /*É PRECISO por conta do margin-top: 10px; no header nav .nav-menu .menu ul*/
    max-width: 570px;
    height: 45px;
}
header nav .nav-menu .menu ul{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    list-style-type: none;
}
header nav .nav-menu .menu a{
    color: white;
}
/*  nav-menu FIM
*/



/* banner
*/
.banner{
    max-width: var(--max-width-1);
    margin: 15px auto;
}
.banner > img{
    width: 100%;
    cursor: pointer;
}
/* banner
*/



/* main-cards INÍCIO
*/
.main-cards{
    max-width: var(--max-width-1);
    margin: 0 auto;
}
.main-cards h2{
    margin: 30px auto;
    font-size: 1.2em;
}
/* main-cards FIM
*/
/* cards INÍCIO
*/
.cards{
    max-width: var(--max-width-1);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 200px;
    height: 300px;
    background-color: var(--color-1);
    margin: 7px auto;
}
.card .camisa {
    width: var(--card-inner-width-1);
    height: 170px;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 0;
}
.card .camisa > img{
    height: 170px;
}
.card .info{
    width: var(--card-inner-width-1);
    margin: 0 auto;
}
.card .info > .titulo{
    font-size: 1.125em;
    font-weight: 600;
}
.card .info > .titulo a{
    text-decoration: underline;
}
.card .info > .desc{
    font-size: 0.875em;
    font-weight: 100;
}
.card .info > .custo{
    margin: 7px 0;
    text-align: center;
    font-size: 1.5625em;
}
.card .info button[class='add']{
    background-color: var(--color-3);
    width: var(--card-inner-width-1);
    height: 20px;
    margin: 0px autp;
    border: none;
    font-size: 0.75em;
    cursor: pointer;
}

/* cards-best-sellers INICIO
*/
.best-sellers .title{
    text-align: center;
    margin: 20px;
    font-size: 1.4em;
}
.best-sellers .cards{
    justify-content: center;
}
.best-sellers .card{
    margin: 0 10px;
    width: 260px;
    height: 390px;
}
.best-sellers .card .camisa{
    width: var(--card-inner-width-2);
    height: 220px;
}
.best-sellers .card .camisa > img{
    height: 220px;
}
.best-sellers .card .info{
    width: var(--card-inner-width-2);
}
.best-sellers .card .info > .titulo{
    font-size: 1.5em;
}
.best-sellers .card .info > .desc{
    font-size: 1em;
}
.best-sellers .card .info > .custo{
    font-size: 2em;
}
.best-sellers .card .info button[class='add']{
    width: var(--card-inner-width-2);
    height: 30px;
    font-size: 1em;
}
/* cards-best-sellers FIM
*/
/* cards FIM
*/
