<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <section class="container">
        <section class="floating-button"></section>
        <section class="side-bar">
            <nav>
                <ul>
                    <li><a href="/gerenciar">DASHBOARD</a></li>
                    <li><a href="/gerenciar/camisa">CAMISAS</a></li>
                </ul>
            </nav>
        </section>
        
    <script src="js/script.js"></script>